body {
    font-family: 'Lato', sans-serif;
    color: #666;
    font-size: .9em;
    background-image: url(../img/noisy_grid.png);
    background-repeat: repeat-y repeat-x;
}


#messageBar {
    padding-top: .4rem;
    width: 100%;
    height: 32px;
    letter-spacing: .04rem;
    background-color: #8295BA80;
    color: #fff;
    text-align: center;
}

.headerRow {
    margin-top: 2em;
    margin-bottom: 3em;
}

.createNewReportBtn, .createNewReportBtn:hover {
    font-size: 1em;
    float: right;
    font-weight: 400;
    font-style: normal;
    background-color: #5D84B0;
    color: white;
}

.reviewCol {
    background-color: #8295BA80;
    margin-bottom: 2em;
}

.reviewColHeader2, .myThreatsColHeader2,{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.reviewColHeader2 {
    background-color: #5D84B0;
}

.profilehomeHeader {
    color: #fff;
}

.profilehomeHeader, .secondaryHeader, .proofHeader {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    letter-spacing: .02em;
    text-transform: uppercase;
    padding-left: .5em;
    font-weight: 300;
    display: inline-block;
}

.glassesIcon, .pencilIcon, .bluePlaneIcon {
    display: inline-block;
    float: right;
    padding-right: 1em;
    padding-top: .6em;
}

.reviewPublishColumn {
    border: 1px solid rgba(77,172,223,.19);
    min-height: 8rem;
}

.reviewPublishColumn, .editPublishColumn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.homecards {
    background-color: #fff;
    border-radius: 5px;
    margin: 1em;
    border: 1px solid #E5E5E5;
}

.cardTopInfo {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 1em;
}

.headerID {
    display: inline-block;
    border-right: 1px solid #EAEAEA;
    margin-left: 1em;
    padding-right: 5px;
    text-transform: uppercase;
}

.headerID, .headerVersion {
    color: #8E8E8E;
    font-weight: 300;
}

.headerID, .headerVersion,{
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    letter-spacing: .07em;
}

.headerVersion {
    display: inline-block;
    margin-left: 5px;
}

.topRightIcons {
    display: inline-block;
    float: right;
}

.bottomCard {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.Homecards-title {
    font-family: 'Oswald', sans-serif;
    color: #2C2C2C;
    font-size: 16px;
}

.subtitleInfo {
    margin-bottom: .6em;
}

.submittedBy {
    font-weight: 300;
    color: #7D6AD0;
}

.submittedBy, .author, .timeAgo, .proofedBy, .reviewer, .editedBy {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    letter-spacing: .04em;
    display: inline-block;
}

.author, .reviewer {
    text-transform: uppercase;
    font-weight: 400;
}

.timeAgo {
    font-weight: 300;
    color: #8E8E8E;
}

.caughtUp {
  margin-top: 1.6em;
}

.caughtUpImg {
	margin-bottom: 1.6em;
}

.reviewPublishColumn {
    border: 1px solid rgba(77,172,223,.19);
    min-height: 8rem;
}

.reviewPublishColumn, .editPublishColumn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.proofCol {
    background-color: #8295BA80;
    border: 1px dashed rgba(77,172,223,.50);
}

.secondaryCol, .proofCol {
    border-radius: 5px;
    margin-bottom: 2em;
    padding-bottom: 4px;
}

.proofColHeader2 {
    background-color: #5D84B0;
    border-bottom: solid 1px rgba(77,172,223,.20);
    color: white;
}

