.reportHeader {
	height: 176px;
	background-position: 0px 0px, 50% 50%;
	background-size: auto, cover;
	box-shadow: inset 0 -9px 50px 11px rgba(0,0,0, .25);
	background-image: -webkit-linear-gradient(146deg, rgba(0, 45, 136, .42), rgba(110, 0, 138, .68)), url('../images/header_01.jpg');
	background-image: linear-gradient(304deg, rgba(0, 45, 136, .42), rgba(110, 0, 138, .68)), url('../images/header_01.jpg');
}

.reportTitle {
	padding-top: 5.6rem;
}

h1.homeHeader{
	text-align: center;
	color: #f7f7f7;
	font-family: 'Conv_FuturaNDforNike365', Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 2.5rem;
	margin-bottom: 0rem;
}

.subhead {
	text-align: center;
	color: #f7f7f7;
	font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
	font-size: 1.06rem;
	text-transform: uppercase;
	margin-top: -.4rem;
	margin-bottom: 2rem;
}

/*"extra small" / mobile*/
@media (max-width: 480px) {
	.reportTitle {
		padding-top: 4.6rem;
	}

	.reportTitle h1 {
		font-size: 3.2rem;
		line-height: 2.7rem;
	}

	.subhead {
		display: none;
	}

	.gradient-strip {
		margin-bottom: 1rem;
	}

	.navbar-brand {
		width: 75%;
		padding-right: 0rem;
	}

}