#login_table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

#login_button, #signup_button {
	width: 35%;
	background-color: #5b82b1;
	font-weight: bold;
	letter-spacing: .04em;
	color: white;
}