/* embedded fonts */
@font-face {
    font-family: 'Conv_FuturaNDforNike365';
    src: url('../fonts/Conv_FuturaNDforNike365.eot');
    src: url('../fonts/Conv_FuturaNDforNike365.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Conv_FuturaNDforNike365.woff2') format('woff2'),
        url('../fonts/Conv_FuturaNDforNike365.woff') format('woff'),
        url('../fonts/Conv_FuturaNDforNike365.ttf') format('truetype'),
        url('../fonts/Conv_FuturaNDforNike365.svg#Conv_FuturaNDforNike365') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaRoman';
    src: url('../fonts/Conv_HelveticaRoman.eot');
    src: url('../fonts/Conv_HelveticaRoman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Conv_HelveticaRoman.woff2') format('woff2'),
        url('../fonts/Conv_HelveticaRoman.woff') format('woff'),
        url('../fonts/Conv_HelveticaRoman.ttf') format('truetype'),
        url('../fonts/Conv_HelveticaRoman.svg#Conv_HelveticaRoman') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicforNike365-BdCn';
    src: url('../fonts/TradeGothicforNike365-BdCn.eot');
    src: url('../fonts/TradeGothicforNike365-BdCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TradeGothicforNike365-BdCn.woff2') format('woff2'),
        url('../fonts/TradeGothicforNike365-BdCn.woff') format('woff'),
        url('../fonts/TradeGothicforNike365-BdCn.ttf') format('truetype'),
        url('../fonts/TradeGothicforNike365-BdCn.svg#TradeGothicforNike365-BdCn') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaBold';
    src: url('../fonts/Conv_HelveticaBold.eot');
    src: url('../fonts/Conv_HelveticaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Conv_HelveticaBold.woff2') format('woff2'),
        url('../fonts/Conv_HelveticaBold.woff') format('woff'),
        url('../fonts/Conv_HelveticaBold.ttf') format('truetype'),
        url('../fonts/Conv_HelveticaBold.svg#Conv_HelveticaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaLight';
    src: url('../fonts/Conv_HelveticaLight.eot');
    src: url('../fonts/Conv_HelveticaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Conv_HelveticaLight.woff2') format('woff2'),
        url('../fonts/Conv_HelveticaLight.woff') format('woff'),
        url('../fonts/Conv_HelveticaLight.ttf') format('truetype'),
        url('../fonts/Conv_HelveticaLight.svg#Conv_HelveticaLight') format('svg');
    font-weight: 300;
    font-style: normal;
}


body {
    background-image: url("../img/absurdidad.png");
    background-repeat: repeat-y repeat-x;
    font-size: 16px;
		font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
}

li {
  font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
}

#messageBar {
  padding-top: .4rem;
  width: 100%;
  height: 32px;
  letter-spacing: .04rem;
  background-color: #8295BA80;
  color: #fff;
  text-align: center;
}


/*logo*/
.navbar-brand {
	color: #4503a3;
}

.navbar {
	background-color: #f9f9f9;
	background-position: 0px 0px;
  margin-bottom: 2rem;
	border-bottom: solid 1px #eee;
	opacity: 0.96;
  box-shadow: 0 2px 10px 3px rgba(0,0,0, .07);
	background-image: url("../images/navBGpat.svg");
}

.nav-item .headernavs {
	font-size: 1rem;
}

.navbar-collapse {
  font-size: 1rem;
}

.nav-link {
  text-transform: uppercase;
  list-style-type: none;
  color: #999;
	font-size: .9rem;
}

.nav-link:hover {
	transition: all 0.3s ease 0s;
}

h1.homeHeader{
  text-align: center;
  color: #f7f7f7;
	font-family: 'Conv_FuturaNDforNike365', Arial, Helvetica, Geneva, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

h6 {
  font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
  color: #9e9e9e;
  font-size: .8rem;
  text-transform: uppercase;
  margin-bottom: .2rem;
  margin-top: 1rem;
}

h5 {
font-family: 'Conv_HelveticaBold', Arial, Geneva, sans-serif;
color: #7B80AE;
font-size: .9rem;
margin-bottom: .2rem;
text-transform: uppercase;
}

.avatar {
  font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
  letter-spacing: .04em;
  text-align: center;
  font-style: normal;
  font-size: 1rem;
  color: #fff;
  margin-top: .2rem;
  border: 1px solid #434360;
  background: rgb(67,67,96);
  background: -webkit-linear-gradient(rgba(67,67,96,1) 26%, rgba(128,128,163,1) 100%);
  background: -o-linear-gradient(rgba(67,67,96,1) 26%, rgba(128,128,163,1) 100%);
  background: linear-gradient(rgba(67,67,96,1) 26%, rgba(128,128,163,1) 100%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding-top: .3rem;
}

.whiteTop {
	height: 64px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
	color: #fff;
}


/* for 404 page header */
.error_page {
  text-align: center;
  margin-top: 5rem;
  font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
  color: #555;
}

.error_page p {
  font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
  margin-top: 1rem;
}

.error_page a {
  color: #9471CA;
  text-transform: uppercase;
}

.cyberTitle, .cyberTitle-brief {
	padding-top: 5.6rem;
}

.cyberTitle-about {
  padding-top: 6rem;
}

.subhead {
  text-align: center;
	color: #f7f7f7;
  font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
  font-size: 1.06rem;
  text-transform: uppercase;
	margin-top: -.4rem;
  margin-bottom: 2rem;
}

/*styles the placeholder text in the search field*/
.form-control::placeholder, #id_username::placeholder {
	font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
	color: #e5e5e5;
  font-size: .8rem;
  text-transform: uppercase;
}

/*styles the search tabs*/
.searchTabs {
	width: 100px;
	text-align: center;
}

.cyberHeader, .cyberHeader-about, .cyberHeader-brief {
	height: 176px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
	box-shadow: inset 0 -9px 50px 11px rgba(0,0,0, .25);
}

/* cyberHeader and cyberHeader-about set the bg images */

.cyberHeader {
  background-image: -webkit-linear-gradient(146deg, rgba(0, 45, 136, .42), rgba(110, 0, 138, .68)), url('../images/header_01.jpg');
  background-image: linear-gradient(304deg, rgba(0, 45, 136, .42), rgba(110, 0, 138, .68)), url('../images/header_01.jpg');
}
.cyberHeader-about {
  background-image: -webkit-linear-gradient(146deg, rgba(0, 45, 136, .42), rgba(110, 0, 138, .68)), url('../images/about_header_03.jpg');
  background-image: linear-gradient(304deg, rgba(0, 45, 136, .42), rgba(110, 0, 138, .68)), url('../images/about_header_03.jpg');
}
.cyberHeader-brief {
  background-image: -webkit-linear-gradient(146deg, rgba(0, 45, 136, .42), rgba(110, 0, 138, .68)), url('../images/brief_header_01.jpg');
  background-image: linear-gradient(304deg, rgba(0, 45, 136, .42), rgba(110, 0, 138, .68)), url('../images/brief_header_01.jpg');
}


.resultHeader>H1 {
	padding-top: 1rem;
	font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
  text-transform: uppercase;
	color: #8F6DAC;
	line-height: 2.6rem;
	margin-bottom: 2rem;
}

/* for single threat view */

.day_date_solo {
	margin-top: .2rem;
	font-size: .8rem;
	margin-bottom: 0rem;
}

.dateBriefSolo {
	margin-top: .2rem;
	font-size: .8rem;
	margin-bottom: 2rem;
}

.exec p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
  color: #777;
  margin-bottom: 2rem
}

.soloText, .aboutText {
	font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
	color: #555;
	font-size: 1rem;
}

.soloText > p {
  	Margin-bottom: 2rem;
}

.soloHeaders {
	margin-top: 2rem;
	font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
  text-transform: uppercase;
	color: #333;
	margin-bottom: .4rem;
}

/* styles bullets in single brief */
.singleBrief {
  font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
	color: #555;
	font-size: 1rem;
  margin-left: -2.5rem;
}

/* .searchResultHeader {
	margin-top: 2rem;
	margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
	color: #555;
} */

.dropdown-menu > a:hover {
	text-decoration:none;
	background: transparent;
	color: inherit;
	transition: background 0.5s cubic-bezier(.33,.66,.66,1);
}

.col-form-label {
	color: #666;
	text-transform: uppercase;
	text-align: right
}

/*blue-to-purple strip right under header*/
.gradient-strip {
  width: 100%;
  height: 6px;
  background-image: -webkit-linear-gradient(0deg, #5880ad, #5b81af);
  background-image: linear-gradient(90deg, #5880ad, #5b81af);
	margin-bottom: 1rem;
}

/*Search Window*/
.form-control, #id_username {
	color: #ddd;
}

#id_username, #id_password {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.magGlass {
  border: 1px #C3C2C4 solid;
}


.displayBy {
	font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
	color: #888;
	font-size: .9rem;
	letter-spacing: .02rem;
  display: inline-block;
  width: 100%
}

.custom-select {
  border-color: #ddd;
}

.display {
  font-family: 'Conv_HelveticaLight', Arial, Geneva, sans-serif;
  display: inline;
}

 /*Cards content*/
.card {
  background-color: rgb(253, 253, 253);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*threat level indication graphic strip*/
.card-img-top {
	margin-bottom: 0rem;
	width: 100%;
  padding-top: 5px;
}

.nikeID, .execID {
	font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
	font-size: .8rem;
  text-transform: uppercase;
	letter-spacing: .02rem;
	display: inline-block;
	padding: 0px 4px 0px 4px;
	margin-bottom: 0.4rem;
  border-radius: 2px;
	background-image: url("../img/lines.svg");
	background-repeat: repeat-y repeat-x;
}

.nikeID {
  color: #ACACAC;
  border: solid 1px #E1E1E1;
}

/* Tiny label over each executive brief search result  */
.execHeader {
  text-align: center;
  font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
  font-size: .6rem;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: .04rem;
  margin-top: -.8rem;
}

/* For the Nike IDs on the search results page */
/* .searchResult>.nikeID {
  margin-bottom: 0rem;
} */

.searchSubGroup {
  margin-top: 0rem;
}

h2>.card-title {
  font-size: 2rem;
}

/*Card header titles*/
h2>.card-title, h2>.search-card-title {
  font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
  text-transform: normal;
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid rgba(51, 51, 51, 0);
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

/* Titles on search results page, smaller text */
h2>.search-card-title {
  font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
  text-transform: normal;
	color: #333;
  text-decoration: none;
	border-bottom: none;
  font-size: 1.6rem;
}

h2>.search-card-title:hover {
  text-decoration: none;
	border-bottom: none;
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

h3 {
  font-family: 'Conv_Helveticalight', Arial, Geneva, sans-serif;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #333;
}

h4 {
  font-family: 'Conv_Helveticalight', Arial, Geneva, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.cardTagArea {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  margin-top: -.8rem;
  margin-bottom: .6rem;
}

.resultsTagArea {;
  margin-top: .6rem;
  margin-bottom: 0rem;
}


.cardTagArea h4, .resultsTagArea h4{
  color: #bbb;
	letter-spacing: .04rem;
  display: inline-block;
  break-after: avoid-region;
  font-size: .6rem;
}

.cardTag, .trendTag {
  display: inline;
  font-size: .6rem;
  letter-spacing: .04rem;
  text-transform: uppercase;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 3px;
  margin-top: 3rem;
}

.filterHeader h4{
  color: #969696;
  letter-spacing: .025rem;
  margin-bottom: 0rem;
}


/*date on every card*/
.day_date, .day_date_solo, .dateBriefSolo {
	font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
	color: #bbb;
	letter-spacing: .04rem;
  text-transform: uppercase;
}

.day_date {
	font-size: .6rem;
	margin-top: -.4rem;
	margin-bottom: 1.2rem;
}

.searchHeader {
  font-family: 'Conv_Helveticalight', Arial, Geneva, sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #999;
  text-align: left;
  letter-spacing: .025rem;
  margin-left: 1rem;
}

 .refineType {
  color: #999;
}

/* Makes light background for reg search result (to differentiate from Exec Brief) */
.searchResult {
  background-color: rgba(255,255,255,.3);
  padding: 1rem;
  border: 1px solid #efefef;
  border-radius: .3rem;
}

/* Clump of items in a search result */
.searchResult, .searchResult-Exec{
  margin-top: 2rem;
}

/* date on search results  */
.searchResult .day_date, .searchResult-Exec .day_date {
  margin-bottom: .4rem;
}

/* p tags on search results page */
.searchResult p, .searchResult-Exec p  {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: .9rem;
  color: #333;
}

/* Makes light gray background for exec brief result */
.searchResult-Exec {
  background-color: rgba(200,200,200,.15);
  border: 1px solid #efefef;
  padding: 1rem;
  border-radius: .3rem;
}

.refine {
  margin-top: 2rem;
  margin-bottom: .4rem;
}

/*card body copy text*/

.tab-content p, .tab-content li {
  font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
	letter-spacing: .02rem;
	color: #333;
	font-size: .9rem;
	padding-top: .8rem;
}

.soloText li {
  font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
  margin-left: -1.6rem;
}

/* makes the bullets on exec briefs flush with tab on left */
.tab-content li {
  margin-left: -1.6rem;
}


.btn-primary, .btn-info {
  font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
  text-transform: uppercase;
  color: #888;
  font-size: .9rem;
	background: transparent;
	border: none;
	padding-top: .8rem;
	padding-bottom: .8rem;
}

.btn-primary:hover, .btn-info:hover {
	text-decoration: none;
	/*background: transparent;*/
	color: inherit;
	-webkit-transition: background linear 350ms;
	border-color: #ddd;
	transition: all 0.3s ease 0s;
}


.btn-viewDetails:active, .btn-viewDetails:focus,
.btn-viewDetails.active, .btn-viewDetails.focus {
	background-color: transparent;
	outline: none !important;
	box-shadow: none !important;
	border-top: 1px solid #ddd;
}

.btn-viewDetails {
	border-top: 1px solid #eee;
}

.btn-primary:active, .btn-primary:focus, .btn-primary.active,
.btn-primary.focus, .btn-info:focus, .btn-info:active  {
	background-color: transparent;
  outline: none !important;
  box-shadow: none !important;
	border-top: 1px solid #ddd;
}

.nav-tabs {
	background-color: #fdfdfd;
  box-shadow: none;
	margin-bottom: 0;
}

.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: #333;
	background-color: transparent;
	border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
	border-top: 1px solid #ddd;
}

.sideInfo {
  padding-bottom: .4rem;
}

.sideCardTag {
  display: inline;
  font-size: .6rem;
  letter-spacing: .04rem;
  background-color: #f1f1f1;
  padding: 7px;
  border-radius: 3px;
}


.tab-pane a, .soloText a, .aboutText a, .searchLink a, .sideInfo a, .sideTagsArea a {
 text-decoration: none;
 border-bottom: 1px solid #D0D0D0;
 box-shadow: inset 0 -2px 0 #D0D0D0;
 color: inherit;
 transition: background 0.5s cubic-bezier(.33,.66,.66,1);
}

/* styles the tags on Cards */
.cardTagArea a, .trendTagArea a, .resultsTagArea a {
  text-decoration: none;
  color: #999;
  transition: background 0.5s cubic-bezier(.33,.66,.66,1);
}

.sideTagsArea a{
  display: inline-block;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.tab-pane a:hover, .soloText a:hover, .aboutText a:hover, .searchLink a:hover, .sideInfo a:hover, .cardTagArea a:hover, .trendTagArea a:hover, .sideTagsArea a:hover, .resultsTagArea a:hover {
	background: #D0D0D0;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}



.nav-tabs .nav-link {
	border-bottom: 1px solid #DDDDD;
	box-shadow: none;
}



/*Makes text gray instead of default blue*/
a:hover {
	color: #333;
	transition: all 0.3s ease 0s;
}

/*Modal table text*/
tr {
  font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
  color: #666;
}

.form-control, #id_username {
	border: 1px solid #C9C9C9;
}

/*search window focus*/
.form-control:focus, #id_username:focus {
  text-decoration: none;
}

/*search btn*/
.btn-outline-secondary {
	color: #999;
	border: 1px solid #C3C2C4;
}

/*Advanced Search btn*/
.btn-outline-info {
font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
text-align: center;
text-transform: uppercase;
color: #999;
font-size: .9rem;
border: 1px solid #ddd;
margin-left: .6rem;
}


.pagination a{
  font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
  color: #222222;
}

.pagination a:hover {
  color: #999;
}


/*View Details modal*/
.modal-title {
	margin-left: .8rem;
  margin-bottom: .8rem;
	font-size: 1.4rem;
  line-height: 1.4rem;
	font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
	text-transform: uppercase;
	color: #333;
}

.modal-header {
  width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
	background-image: -webkit-linear-gradient(0deg, #8feef6, #cc96f6);
	background-image: linear-gradient(90deg, #8feef6, #cc96f6);
	border-radius: 4px 4px 0 0;
  font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
}

.modal-footer {
	border-radius: 0px 0px 8px 8px;
}

.modal-body {
	padding-top: .2rem;
	padding-bottom: .6rem;
}

.table {
	margin-bottom: 0;
}

th {
		border-top: none !important;
}

tbody {
	border-bottom: 0;
}


tr th
{
	font-family: 'Conv_HelveticaRoman';
	text-transform: uppercase;
	font-size:.6rem;
	letter-spacing: .06rem;
	color: #ccc;
	padding-top: 5rem;
}

.modal-body a {
	text-decoration:none;
  border-bottom: 1px solid #D0D0D0;
  box-shadow: inset 0 -2px 0 #D0D0D0;
  color: inherit;
  transition: background 0.5s cubic-bezier(.33,.66,.66,1);
}

.modal-body a:hover {
	background: #D0D0D0;
	text-decoration: none;
}


footer {
	height: 3rem;
	background-color: rgba(255,255,255,.8);
	padding-top: 1rem;
	margin-top: 3rem;
	border-top: 1px solid #EFEFEF;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footerText, .footerText a {
	font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
	color: #999;
	text-align: center;
	line-height: .05rem;
	font-size: .6rem;
	text-transform: uppercase;
}


.soloThreatHeader {
	text-align: left;
	margin-bottom: 2rem;
	margin-top: 0rem;
	font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
}

.soloBriefHeader {
  margin-top: 0rem;
  margin-bottom: 0rem;
	font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
}

.soloThreat {
	margin-bottom: 4rem;
}

.aboutThreatHeader {
	margin-top: -4.4rem;
	margin-bottom: 3rem;
	text-align: center;
  color: #f7f7f7;
	font-family: 'Conv_FuturaNDforNike365', Arial, Helvetica, Geneva, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
	letter-spacing: .04rem;
}


.missionStatement {
	font-size: 1.3rem;
	font-family: 'Conv_Helveticalight', Arial, Geneva, sans-serif;
	color: #474865;
	padding: .6rem;
	padding-right: .5rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
	border-left: 4px solid rgba(87,144,191,.3);
}

.aboutCopy {
	margin-top: 2rem;
	margin-bottom: 6rem;
}

.aboutWorkIcons {
	text-align: center;
	margin: auto;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.soloText, .aboutText {
	font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
	color: #555;
	font-size: 1rem;
}

.aboutWorkHeader {
	padding-top: 3.4rem;
	font-size: .8rem;
	letter-spacing: .05rem;
	display: inline;
	line-height: .2rem;
	font-family: 'Conv_HelveticaLTStd-Bold', Arial, Geneva, sans-serif;
	color: #5791BF;
}

.aboutLensHeader {
	font-size: .8rem;
	letter-spacing: .05rem;
	display: inline;
	font-family: 'Conv_HelveticaLTStd-Bold', Arial, Geneva, sans-serif;
	color: #5791BF;
  margin-bottom: 1rem;
}


.aboutLens img {
	width: 60%;
	margin-bottom: 8rem;
}


/*for single threat view side bar*/

.threatSide {
	font-family: 'Conv_HelveticaRoman', Arial, Geneva, sans-serif;
	/* margin-top: 9rem; */
	margin-bottom: 1rem;
	font-size: .8rem;
	padding-left: 4.2rem;
	text-transform: uppercase;
	letter-spacing: .02rem;
	color: #444;
}

.sideLabel {
	font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
	color: #bbb;
	text-transform: uppercase;
	padding-top: 1rem;
}


/*labels for sidebar threat level on single threat page*/

/*labels for sidebar threat levels*/

.Awareness, .Caution, .Attention {
  font-family: 'TradeGothicforNike365-BdCn', Arial, Geneva, sans-serif;
  font-size: .8rem;
  letter-spacing: .02rem;
  text-transform: uppercase;
	display: inline;
	padding: 2px 4px 2px;
  border-radius: 2px;
}

.Awareness {
  background-image: url("../images/awareness_lines.svg");
  color: #D2AC0E;
  border: solid 1px #F8CB13;
}

.Caution {
  background-image: url("../images/caution_lines.svg");
  color: #E97300;
	border: solid 1px #E97300;
}

.Attention {
  background-image: url("../images/attention_lines.svg");
  color: #DE0507;
  border: solid 1px #FE898A;
}



/*Below four rules style the threat level pills on the single threat view page*/

.singleLevelAwareness, .singleLevelCaution, .singleLevelAttention {
		color: #fff;
		text-transform: uppercase;
		font-size: .8rem;
		display: inline-block;
		padding: 0px 3px 0px 3px;
		border-radius: 3px;
		letter-spacing: .06rem;
		margin-top: 1rem;
		margin-bottom: 0;
}

.singleLevelAwareness {
	background-color: #F8CA16;
}

.singleLevelCaution {
	background-color: #F98513;
}

.singleLevelAttention {
	background-color: #DD0606;
}

/*"extra small" / mobile*/
@media (min-width:481px) and (max-width: 575px) {
	.card-columns {
			column-count: 2;
		}
	.navbar-brand {
			width: 80%;
			padding-right: 4rem;
		}
		.aboutLens img {
			width: 95%;
			margin-bottom: 6rem;
		}
    .threatTip {
  display: none;
    }

}

/*"extra small" / mobile*/
@media (max-width: 480px) {
  .threatTip {
display: none;
  }

	.card {
		margin-bottom: 1rem;
	}

	.card-columns {
			column-count: 1;
		}

  .cyberTitle h1, .cyberTitle-about h1{
		font-size: 3.2rem;
		line-height: 2.7rem;
	}

	.cyberTitle {
		padding-top: 4.6rem;
	}

  .cyberTitle-about, .cyberTitle-brief {
    padding-top: 6.2rem;
  }


	label {
		font-size: .8rem;
	}


	.subhead {
	  display: none;
	}

	.gradient-strip {
		margin-bottom: 1rem;
	}

	.navbar-brand {
		width: 75%;
		padding-right: 0rem;
	}

	.aboutLens img {
		width: 95%;
		margin-bottom: 6rem;
	}

}